body {
  margin: 0;
  height: 100vh; /* 100% of the viewport height */
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: center;
}
